<form action="{{ path('app_school_class_index', {'page': 1}) }}" method='get'>
    <div>Search by</div>
    <input name="year" type='text' placeholder="Year..."/>
    <input name="teacherName" type='text' placeholder="Teacher's name..."/>
    <button class="btn btn-primary" type="submit">Search</button>
    <a class="btn btn-info" type="button" href="{{ path('app_school_class_index',
    {'page': 1}
    ) }}"
    
    >Clear</a>
</form>

