{% extends 'base.html.twig' %}

{% block title %}Edit class{% endblock %}

{% block main %}
<main class="container">
    <h1 class="mb-4">Edit class</h1>
    {{ include('schoolclass/_form.html.twig', {'button_label': 'Update'}) }}
    
    {% if app.request.get('message')|length > 0 %}
    <div class="mx-auto col-6 text-center">
        <div class="alert alert-warning p-3">{{ app.request.get('message') }}</div>
    </div>
    {% endif %}
    {{ include('schoolclass/_delete_form.html.twig') }}
    
    <div class="col-5 mt-3 container">
        <div class="d-flex flex-column justify-content-around">
            <a class="btn btn-info m-3" href="{{ path('app_school_class_show', {'id': school_class.id}) }}">Back to class</a>
        </div>
    </div>
</main>

{% endblock %}
